version: "3.7"
services:
  app_proxy:
    environment:
      APP_HOST: dsns-ytdlp_server_1
      APP_PORT: 8080
  server:
    image: python:3.12-alpine
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/app:/app
      - ${UMBREL_ROOT}/app-data:/umbrel-app-data
    working_dir: /app
    command: [
      "sh", "-c",
      "apk add --no-cache ffmpeg && pip install --no-cache-dir flask yt-dlp && python app.py"
    ]
    environment:
      - UMBREL_APP_DATA_DIR=/umbrel-app-data
    ports:
      - "8989:8989"
    stop_grace_period: 1m